@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');

body{
    background-image: url('./assets/Wallpaper.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    font-family: 'Comfortaa', cursive;
}

.crs{
    cursor: url('https://img.icons8.com/flat-round/30/000000/circled-right.png'),auto;
}

.email{
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }